Princípio básico do uso

loc - Faz a seleção por rótulos, isto é, pelo nome ou índice em um dataset. Veja no exemplo a seguir com a base de dados notasAlunos

In [24]:
import pandas as pd

dataSetAlunos = pd.read_csv("notasAlunos.csv", sep=",")

In [ ]:
# df_com_indice = dataSetAlunos.set_index("Nome")
# print(df_com_indice)

         NotaBigData  NotaPython
Nome
Pedro              9        10.0
Igor               8         9.0
Haylena            8         8.8
Iasmin             9         9.5
Helder             7         8.9

O loc seleciona linhas e colunas pelo nome do índice ou coluna.
Sintaxe básica: df.loc[linhas, colunas]

In [33]:
dataSetAlunos.loc[0]  # Seleciona a linha onde o índice é "Ana"

Nome           Pedro
NotaBigData        9
NotaPython      10.0
Name: 0, dtype: object

In [38]:
# Usando  inplace=True para alterar o DataFrame original
df = dataSetAlunos.set_index("Nome")
print(df)

         NotaBigData  NotaPython
Nome
Pedro              9        10.0
Igor               8         9.0
Haylena            8         8.8
Iasmin             9         9.5
Helder             7         8.9

In [39]:
df.loc["Igor"]  # Seleciona a linha onde o índice é "Igor"

NotaBigData    8.0
NotaPython     9.0
Name: Igor, dtype: float64

In [48]:
# Apenas NotaPython de Igor
df.loc["Igor", "NotaPython"]

np.float64(9.0)

In [47]:
# Aplicar condições com loc
df.loc[df["NotaBigData"] > 8]

        NotaBigData  NotaPython
Nome
Pedro             9        10.0
Iasmin            9         9.5

In [49]:
# Filtrar aluno chamado "Pedro"
aluno = dataSetAlunos.loc[dataSetAlunos["Nome"] == "Pedro"]

print(aluno)

    Nome  NotaBigData  NotaPython
0  Pedro            9        10.0

Verificando apenas se existe

In [ ]:
if not dataSetAlunos.loc[dataSetAlunos["Nome"] == "Caio"].empty:
    print("Pedro está na lista!")
else:
    print("Pedro não está na lista.")

Verificação por iterador

In [ ]:
for nome in dataSetAlunos:
    if not dataSetAlunos.loc[dataSetAlunos["Nome"] == nome].empty:
        print(f"{nome} está na lista!")
    else:
        print(f"{nome} não está na lista.")

In [54]:
for nome in dataSetAlunos["Nome"]:
    if not dataSetAlunos.loc[dataSetAlunos["Nome"] == nome].empty:
        print(f"{nome} está na lista!")
    else:
        print(f"{nome} não está na lista.")

Pedro está na lista!
Igor está na lista!
Haylena está na lista!
Iasmin está na lista!
Helder está na lista!

In [56]:
# Solicita o nome do usuário
nome_usuario = input("Digite o nome do aluno: ")

# Verifica se o nome existe na coluna 'Nome'
if not dataSetAlunos.loc[dataSetAlunos["Nome"] == nome_usuario].empty:
    print(f"{nome_usuario} está na lista!")
else:
    print(f"{nome_usuario} não está na lista.")

Igor está na lista!

POSIÇAO NA LISTA

In [57]:
# Solicita o nome do usuário
nome_usuario = input("Digite o nome do aluno: ")

# Filtra o DataFrame pelo nome
resultado = dataSetAlunos.loc[dataSetAlunos["Nome"] == nome_usuario]

if not resultado.empty:
    # Pega o índice da linha
    indice = resultado.index[0]  # se houver mais de um, pega o primeiro
    print(f"{nome_usuario} está na lista! Posição (índice) no DataFrame: {indice}")
else:
    print(f"{nome_usuario} não está na lista.")

Helder está na lista! Posição (índice) no DataFrame: 4

iloc - seleção por posição (número)
seleciona linhas e colunas pela posição numérica (como em uma matriz/array)

Sintaxe básica: df.iloc[linhas, colunas]

In [58]:
df.iloc[0]  # Seleciona a primeira linha do DataFrame

NotaBigData     9.0
NotaPython     10.0
Name: Pedro, dtype: float64

In [70]:
# Primeira linha, segunda coluna (NotaPython de Pedro)
df.iloc[1,0]

np.int64(8)

In [86]:
# Primeiras 3 linhas
df.iloc[0:3]

         NotaBigData  NotaPython
Nome
Pedro              9        10.0
Igor               8         9.0
Haylena            8         8.8